
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebBanSach.Models.EF
@model IEnumerable<Sach>

<!-- start slider -->
<div id="carouselIndicators" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
        <li data-target="#carouselIndicators" data-slide-to="3"></li>
    </ol>

    <!-- carousel content -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/68af7052-7075-4828-bff5-94327137d13e.jpg" alt="First slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/329ec368-6113-4e26-88e0-f6f1683e61b9.png" alt="Second slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/612829c3-d07b-405f-b023-fbce0a38c4de.jpg" alt="Third slide">
        </div>

        <div class="carousel-item" style="margin: auto; height: 400px;">
            <img class="d-block w-100 img img-responsive" style="height: 400px" src="~/Assets/images/banner/883b8a35-12ee-4a0e-98db-b3d1844c4d80.jpg" alt="Fourth slide">
        </div>
    </div>

    <!-- controls -->
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!----start-cursual---->
<div class="wrap">
    <!----start-img-cursual---->
    <div id="owl-demo" class="owl-carousel">
        @foreach (var item in (ViewBag.ListSachMoi as IEnumerable<Sach>))
        {
            <div class="item" onclick="location.href='/ChiTietSach/Index';">
                <div class="cau_left">
                    <img class="lazyOwl" src="~/Assets/images/@item.Hinhminhhoa" alt="Lazy Owl Image">
                </div>
                <div class="cau_left" style="height: 150px;">
                    <h4 style="height: 50%; overflow: hidden; text-overflow: ellipsis;"><a href="/Chitietsach/Index" style="font-size: 18px; font-weight: 500;">@item.Tensach</a></h4>
                    <a href="/ChiTietSach/Index?ID=@item.Masach" class="btn" style="margin-top: 10px;">Đặt mua</a>
                </div>
            </div>
        }
    </div>
    <!----//End-img-cursual---->
</div>
<!-- start main1 -->
<div class="main_bg1">
    <div class="wrap">
        <div class="main1">
            <h2>Sách mới</h2>
        </div>
    </div>
</div>
<!-- start main -->
<div class="container">
    <div class="wrap">
        <div class="main">
            <!-- start grids_of_3 -->
            @{
                int rowNumber = Model.Count() / 3 + 1;
                for (int i = 0; i < rowNumber; i++)
                {
                    <div class="grids_of_3">
                        @for(int j = 0; j < 3; j++)
                        {
                            if (3 * i + j >= Model.Count())
                            {
                                break;
                            }
                            var @item = Model.ToList()[3 * i + j];
                            var @giacu = item.Dongia != null ? item.Dongia.ToString() + "đ" : "";
                            var @giamoi = item.Giakm != null ? item.Giakm.ToString() + "đ" : "";
                            <div class="grid1_of_3">
                                <a href="/ChiTietSach/Index?ID=item.Masach">
                                    <img src="~/Assets/images/@item.Hinhminhhoa" alt="" style="width: 170px; height: 250px;" />
                                    <h3 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="@item.Tensach">@item.Tensach</h3>
                                    <div class="price">
                                        <h4 style="display: flex; align-items: center;">
                                            @if (@giamoi != "")
                                            {
                                                <div style="width: 40%;">
                                                    <span>@giamoi</span>
                                                    <span style="text-decoration: line-through; font-size: 0.8em; margin-left: 5px;">@giacu</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <span style="margin-left: 30px;">@giacu</span>
                                            }
                                            <span class="details">Chi tiết</span>
                                        </h4>
                                    </div>
                                    <span class="b_btm"></span>
                                </a>
                            </div>
                        }
                        <div class="clear"></div>
                    </div>
                }
            }
            <!-- end grids_of_3 -->
        </div>
    </div>
    <script>
        var $myCarousel = $('#carouselIndicators')
        $myCarousel.carousel()

        function doAnimations(elems) {
            var animEndEv = 'webkitAnimationEnd animationend'

            elems.each(function () {
                var $this = $(this),
                    $animationType = $this.data('animation')

                $this.addClass($animationType).one(animEndEv, function () {
                    $this.removeClass($animationType)
                })
            })
        }

        var $firstAnimatingElems = $myCarousel.find('.carousel-item:first')
            .find('[data-animation ^= "animated"]')

        doAnimations($firstAnimatingElems);

        $myCarousel.on('slide.bs.carousel', function (e) {
            var $animatingElems = $(e.relatedTarget)
                .find("[data-animation ^= 'animated']")
            doAnimations($animatingElems)
        })
    </script>
</div>

