
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Danh mục";
}

@using WebBanSach.Models.EF
@model IEnumerable<Sach>

<!-- start main -->
<div class="main_bg">
    <div class="wrap">
        <div class="main">
            <!-- start gallery_sale  -->
            <div class="gallery1">
                <div class="container">
                    <ul id="filters" class="clearfix">
                        @{
                            var lstDanhMuc = ViewBag.ListDanhMuc as IEnumerable<Chude>;
                            foreach (var item in lstDanhMuc)
                            {
                                <li><span class="filter" data-filter="@item.Key">@item.Tenchude</span></li>
                            }
                        }
                    </ul>
                    <div id="portfoliolist">
                        @foreach (Sach item in Model)
                        {
                            var @giacu = @item.Dongia != null ? item.Dongia.ToString() + "đ" : "";
                            var @giamoi = @item.Giakm != null ? item.Giakm.ToString() + "đ" : "";
                            <div class="portfolio @item.Chude.Key" style="height: 490px;" data-cat="@item.Chude.Key">
                                <div class="portfolio-wrapper" title="@item.Tensach">
                                    <a href="/ChiTietSach/Index?ID=@item.Masach">
                                        <img src="~/Assets/images/books/@item.Hinhminhhoa"style="width: 240px; height: 360px;" alt="Image 2" />
                                    </a>
                                    <div class="price" style="text-align: center;">
                                        <h3 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-height: 27px;">@item.Tensach</h3>
                                        <h4 style="display: flex; align-items: center;">
                                            @if (@giamoi != "")
                                            {
                                                <div style="width: 40%;">
                                                    <span>@giamoi</span>
                                                    <span class="sale">@giacu</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <span>@giacu</span>
                                            }
                                            <span class="details">Chi tiết</span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div><!-- container -->
                <script type="text/javascript" src="~/Assets/js/fliplightbox.min.js"></script>
                <script type="text/javascript">$('body').flipLightBox()</script>
                <div class="clear"> </div>
            </div>
            <!---End-gallery----->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        var filterList = {

            init: function () {

                // MixItUp plugin
                // http://mixitup.io
                $('#portfoliolist').mixitup({
                    targetSelector: '.portfolio',
                    filterSelector: '.filter',
                    effects: ['fade'],
                    easing: 'snap',
                    // call the hover effect
                    onMixEnd: filterList.hoverEffect()
                });

            },

            hoverEffect: function () {

                // Simple parallax effect
                $('#portfoliolist .portfolio').hover(
                    function () {
                        $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                        $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                    },
                    function () {
                        $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                        $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                    }
                );

            }

        };

        // Run the show!
        filterList.init();


    });
</script>