
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giỏ hàng";
}
@using WebBanSach.Models.Common
@model IEnumerable<CartItem>


<div class="row">
    @if (Model == null || Model.Count() == 0)
    {
        <div class="col-md-9 left-container">
            <h3 class="alert alert-danger">Chưa có sản phẩm trong giỏ hàng</h3>
        </div>
    }
    else
    {
        <div class="col-md-9 left-container">
            <table class="table cart-table">
                <thead class="thead-light">
                    <tr>
                        <th>
                            <form action="#" class="form">
                                <div class="checkbox">
                                    <input type="checkbox" id="checkboxAll"/>
                                </div>
                            </form>
                        </th>
                        <th colspan="2" class="header-cart">Giỏ hàng</th>
                        <th class="header-cart" style="text-align: center;">Giá</th>
                        <th class="header-cart">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CartItem item in Model)
                    {
                        <tr id="row-item-@item.Product.Masach">
                            <td>
                                <form action="#" class="form">
                                    <div class="checkbox">
                                        <input type="checkbox" class="checkboxItem" id="item-@item.Product.Masach" onclick="onClickSelectItem('item-@item.Product.Masach')"/>
                                    </div>
                                </form>
                            </td>
                            <td class="col-content-img">
                                <div>
                                    <img src="~/Assets/images/@item.Product.Hinhminhhoa" alt="images">
                                </div>
                            </td>
                            <td class="col-content-title">
                                <div>
                                    <div class="title">@item.Product.Tensach</div>
                                    <div>
                                        <div class="author">Tác giả : <span style="color: #0066c0;">@item.Product.Tacgia.Tentacgia</span></div>
                                        <div class="author">Thể loại : <span>@item.Product.Chude.Tenchude</span></div>
                                        <div>
                                            <a href="#" onclick="onRemoveItem(@item.Product.Masach)">Xóa</a> | <a href="#">Thêm vào yêu thích</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="col-content-price">
                                <div>
                                    <span class="product-price">@((item.Product.Giakm != null ? item.Product.Giakm : item.Product.Dongia).ToString() + " đ")</span>
                                    <span class="saving">Tiết kiệm @((item.Product.Giakm != null ? item.Product.Dongia - item.Product.Giakm : 0).ToString() + " đ")</span>
                                </div>
                            </td>
                            <td class="col-content-quantity">
                                <input type="number" value="@item.Quantity" class="form-control" min="1">
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                <td colspan="3">
                    <div>
                        <button type="button" class="btn btn-danger deselect" onclick="onClickRemoveItemSelected()">Xóa chọn</button>
                    </div>
                </td>
                @{
                    decimal tongTien = 0;
                    decimal tietKiem = 0;
                    int tongSoLuong = 0;

                    foreach (CartItem item in Model)
                    {
                        var donGia = item.Product.Giakm != null ? item.Product.Giakm : item.Product.Dongia;
                        var tienTietKiem = item.Product.Giakm != null ? item.Product.Dongia - item.Product.Giakm : 0;
                        tongTien += (decimal)donGia * item.Quantity;
                        tietKiem += (decimal)tienTietKiem * item.Quantity;
                        tongSoLuong += item.Quantity;
                    }

                    <td>
                        <div class="footer-price">
                            <span class="total-price">Tổng tiền: @(tongTien.ToString() + " đ")</span>
                            <span class="total-saving">Tiết kiệm @(tietKiem.ToString() + " đ")</span>
                        </div>
                    </td>
                }

                <td>
                    <div>
                        <button type="button" class="btn btn-success" style="font-size: 14px;"><i class="fa fa-shopping-cart"></i>Thanh toán</button>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
        <div class="col-md-3 right-container">
            <div class="cart-info">
                @{ 
                    <div class="info">
                        <span class="text-bold" style="font-size: 17px;">@tongSoLuong sản phẩm</span>
                        <span class="text-bold" style="color: #f15c22">@(tongTien.ToString() + " đ")</span>
                        <span style="font-size: 14px;">( Chưa có cước vận chuyển )</span>
                    </div>
                }
                <div class="payment">
                    <button type="button" class="btn btn-success">
                        <i class="fa fa-shopping-cart"></i>Thanh toán
                    </button>
                </div>
            </div>
            <div class="more-product">
                @{ Html.RenderAction("SachLienQuan", "DanhMuc"); }
            </div>
        </div>
    }
</div>
<script>
    $('#checkboxAll').click(() => {
        if ($('#checkboxAll').is(':checked')) {
            $('.checkboxItem').prop('checked', true)
            isCheckedAll = true
        } else {
            $('.checkboxItem').prop('checked', false)
        }
    })

    const onClickSelectItem = selector => {
        let numberAllRow = $('.checkboxItem').length
        if (!$(selector).is(':checked') && $('#checkboxAll').is(':checked')) {
            $('#checkboxAll').prop('checked', false)
        } else {
            let numberRowIsChecked = $('.checkboxItem').filter(function () {
                return $(this).is(':checked')
            }).length
            if (numberRowIsChecked === numberAllRow) {
                $('#checkboxAll').prop('checked', true)
            }
        }
    }

    const onClickRemoveItemSelected = () => {
        const listItemSelected = []
        $('.checkboxItem').each(function () {
            if ($(this).is(':checked')) {
                //item-id
                let productID = $(this).attr('id').split('-')[1]
                listItemSelected.push(parseInt(productID))
            }
        })
        $.ajax({
            url: '/GioHang/XoaNhieuSanPham',
            method: 'POST',
            data: { listProduct: listItemSelected },
            dataType: 'text',
            success: function (response) {
                response = JSON.parse(response)
                if (response.status == true) {
                    $(location).attr("href", '/GioHang/Index')
                } else {
                    alert('Xóa sản phẩm thất bại!')
                }
            }
        })
    }


    const onRemoveItem = productID => {
        productID = parseInt(productID)
        $.ajax({
            url: '/GioHang/XoaSanPham',
            method: 'POST',
            data: { productID },
            dataType: 'text',
            success: function (response) {
                response = JSON.parse(response)
                if (response.status == true) {
                    $(location).attr("href", '/GioHang/Index')
                } else {
                    alert('Xóa sản phẩm thất bại!')
                }
            }
        })
    }
</script>
